.container p  {
  margin-top: 200px;
  color: white;
  font-size: 80px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 70px;
}

@media (max-width: 576px) {
  .container p {
    font-size: 40px;
    text-align: center;
    margin-top: 250px;
  }
  .button .btn {
    font-size: 20px !important;
  }
  .button {
    margin-top: 50px;
  }
}
  