.container h1 {
  color: white;
}
.container h3 {
  color: yellow;
  margin: 0;
}


.container .img-fluid {
  width: auto;
  height: 70%;
}
.container .footer {
  margin-top: 100px;
}
@media (max-width: 576px) {
  .container .footer {
    margin-top: 30px;
  }
  .container .title {
    margin-top: 250px;
  }
  
}